*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background: #105257;
    height: 900vh;
    max-height: 900px;
    overflow-x: hidden;

}
.circle2{
    background: #ff035e;
    width: 750px;
    height: 640px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    margin-left: 1400px;
    rotate: -30deg;
    margin-top: -390px;
    
}
.circle{
    background: #ff035e;
    width: 550px;
    height: 550px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    margin-left: -80px;
    margin-top: 450px;
   
}
.rectangle{
    background: #ffffff;
    width: 140vh;
    height: 650px;
    margin-left: 310px;
    border-radius: 30px;
    margin-top: 90px;
    box-shadow: 0.95rem 0.8rem rgba(14, 13, 13, 0.256);
    display: flex;
    justify-content: right;
}
.rectangle #image1{
    width: 65px;
    height: 80px;
    transform: translateX(-460px);
    margin-top: 20px;
    
    
}
.rectangle a{
    text-decoration: none;
    color: rgb(47, 46, 46);
    font-weight: 800;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    margin-top: 20px;
    
}

.rectangle a:hover{
   color: #ff035e;
   cursor: pointer;
   
}
.rectangle .rectangle1{
    height: 23px;
    padding: 12px 50px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 24px;
    margin-left: 20px;
    
}

.rectangle1 .icon1{
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: -490px;
    margin-left: -30px;
  } 
  

.content{
    margin-left: 80px;
    margin-top: 50px;
    
}
.content h1{
    margin-left: 320px;
    margin-top: -675px;
    font-size: 70px;
    line-height: 100px;
    font-weight: 900;
   
}

.content h4{
    margin-top: 20px;
    margin-left: 320px;
    font-weight: 450;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
button{
    margin-left: 320px;
    margin-top: 45px;
    padding: 12px 35px;
    border: none;
    border-radius: 30px;
    color:white;
    background:  #ff035e;
    font-size: 25px;
}


#image2{
    width: 80%;
    height: 80%;
    margin-top: -630px;
    rotate: -17deg ;
    margin-left: 520px;
    z-index: 1;
}
.background_shadow{
    z-index: -1;
    background: transparent;
    border-radius: 50%;
    height: 70px;
    width: 300px;
    rotate: -35deg;
    margin-left: 1299px;
    transform: translateY(-260px);
    box-shadow: 0 0 40px 60px black;
    

}

.center_content .box{
    background: #ff035e;
    border-radius: 30px;
    width: 440px;
    height: 750px;
    margin-left: 200px;
    margin-top: 600px;
}
.center_content .box:hover{
animation: forwards;
transition: 0.5s;


}
.center_content .box h2{
    margin-top: 30px;
    margin-left: 20px;
}
.center_content .box .star1{
    font-size: 25px;
    color: white;
    padding: 20px 10px;
    transform: translateX(60px);
    
}
.center_content .box .plus{
    margin-left: 250px;
    margin-top: 50px;
    background: white;
    border-radius: 5px;
    font-weight: 900;
    transform: translateY(50px);
    height: 30px;
    width: 30px;
}



.center_content .box .jd{
width: 70px;
margin-top: 20px;
margin-left: 10px;
}

.center_content .box .box_image{
    rotate: -25deg;
    margin-top: -250px;
    object-position: fixed;
    transform: translateX(-190px);
    width: 700px;
    
}



.center_content .box1{
    background: #ff035e;
    border-radius: 30px;
    width: 440px;
    height: 750px;
    margin-left: 770px;
    margin-top: -650px;

}
.center_content .box1 h2{
    margin-left: 20px;
    margin-top: 170px;
    
}
.center_content .box1 .star1{
    font-size: 25px;
    color: white;
    padding: 20px 10px; 
    transform: translateX(20px); 
}
.center_content .box1 .plus{
    margin-left: 250px;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
    font-weight: 900;
    transform: translateY(50px);
    height: 30px;
    width: 30px;
}
.center_content .box1 .jd{
    width: 70px;
    margin-top: 20px;
    margin-left: 10px;
}

.center_content .box1 .box_image1{
  rotate: -30deg;
  width: 800px;
  margin-top: -220px;
  object-position: fixed;
  transform: translateX(-250px);
}

.center_content .box2{
    background: #ff035e;
    border-radius: 30px;
    width: 450px;
    height: 750px;
    margin-left: 1350px;
    margin-top: -590px;
}

.center_content .box2 .box_image2{
    rotate: -30deg;
    margin-top: -10px;
    object-position: fixed;
    transform: translateX(-260px);
}

.center_content .box2 .box_image2{
    margin-top: -170px;
    width: 800px;

}


.center_content .box2 h2{
    margin-left: 20px;
    margin-top: 180px;
    
}
.center_content .box2 .star1{
    font-size: 25px;
    color: white;
    padding: 20px 10px; 
    transform: translateX(20px); 
    
 
}
.center_content .box2 .plus{
    margin-left: 400px;
    margin-top: -25px;
    background: white;
    border-radius: 5px;
    font-weight: 900;
    transform: translateY(20px);
    height: 30px;
    width: 30px;
}
.center_content .box2 .jd{
    width: 70px;
    margin-top: 20px;
    margin-left: 10px;
}







/* start of footer styling */
.footerall{
    margin-top: -1190px;
}


footer{
    background-color: rgba(219, 44, 126, 0.87);
    height: 200px;
    margin-top: 1450px;
    width: 100%;
    
}
.icons{
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: rgb(250, 251, 252);
      
}
.facebook{
background-color: blue;
border-radius: 50px;
width: 55px;
height: 55px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}
.linked-in{
    background: rgb(52, 159, 230);
    border-radius: 90px;
    width: 55px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.twitter{
    background: rgb(38, 212, 235);
    border-radius: 90px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.instagram{
    background: linear-gradient(purple,orange);
    border-radius: 90px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.rectangle_foot{
    background: #105257;
    color: white;
    height: 220px;
    padding-top:40px;
    position: relative;
    top: -70px;
   
    
}
.footer_content{
    margin-top: -90px;
}

.service{
    margin-top: 110px;
    margin-left: 120px;
    line-height: 30px;
    
}
.service h1{
    font-size: 20px;
}
.service h2{
    font-size: 20px;

}
.contact{
    margin-left: 800px;
    margin-top: -130px;
    line-height: 30px;
}

.contact h2{
    font-size: 20px;

}
.adress{
    margin-left:800px;
    margin-top: 50px;

}
.adress h2{
    font-size: 20px;

}
.why{
    margin-left: 1390px;
    margin-top: -170px;
    line-height: 30px;


}
.why h2{
    font-size: 20px;
    
}




/* ABOUT PAGE STYLE */
.nav-bar{
    margin-left: 1350px;
    margin-top: 20px;

}  
.nav-bar a{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 1.3rem;
  
}
.box_about{
    background: white;
    width: 120px;
    padding: 4px 8px;
    margin-left: 900px;
    margin-top: 90px;
    border-radius: 20px;
    color: #ff035e;
    
}
.box_about h2{
    margin-left: 10px;
}
.content_about{
    margin-top: 70px;
}

.jd_0{
    padding-top: 100px;
    padding-left: 280px;
    line-height: 32px;
}
.jd_0 h2{
    color: #ff035e;
    font-size: 2.5rem;
    padding-left: 70px;
}
.jd_0 p{
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 200;

}

.jd_0 img{
    transform: translateX(660px);
    margin-top: -420px;
    height: 500px;
    max-width:100%;
    min-height: 100%;
}

.jd_1{
    margin-left:1000px;
    margin-top: 230px;
    line-height: 32px; 

}
.background_shadow2{
    position: relative;
    z-index: -1;
    background: transparent;
    border-radius: 50%;
    height: 10px;
    width: 410px;
    margin-left: 830px;
    transform: translateY(-110px);
    box-shadow: 0 0 30px 40px black;
}
.jd_1 h2{
    color: #ff035e;
    font-size: 2.5rem;
    padding-left: 170px;
}
.jd_1 p{
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 200;

}
.jd_1 img{
    margin-top: -330px;
    transform: translateX(-750px);
    height: 390px;
    max-width:100%;
    min-height: 100%;
}
.background_shadow3{
    position: relative;
    z-index: -1;
    background: transparent;
    border-radius: 50%;
    height: 10px;
    width: 370px;
    margin-left: -690px;
    rotate: -2.5deg;
    transform: translateY(-60px);
    box-shadow: 0 0 50px 40px black;
}


.jd_4{
    padding-top: 100px;
    padding-left: 280px;
    line-height: 32px; 
    margin-top: 130px; 
}

.jd_4 h2{
    color: #ff035e;
    font-size: 2.5rem;
    padding-left: 170px;
    padding-top: 60px;

}
.jd_4 p{
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 60px;
    font-weight: 200;

}


.jd_4 img{
    transform: translateX(760px);
    margin-top: -419px;
    height: 590px;
    max-width:100%;
    min-height: 100%;
    
}
.background_shadow4{
    position: relative;
    z-index: -1;
    background: transparent;
    border-radius: 50%;
    height: 10px;
    width: 410px;
    margin-left: 850px;
    transform: translateY(-170px);
    box-shadow: 0 0 50px 40px black;
}

.btn1{
    margin-left: 820px;
    margin-top: 55px;
    padding: 12px 35px;
    border: none;
    border-radius: 30px;
    color:white;
    background:  #ff035e;
    font-size: 25px;  
}

/* start of products styling */

.box_products{
    background: white;
    width: 120px;
    padding: 4px 8px;
    margin-left: 900px;
    margin-top: 90px;
    border-radius: 20px;
    color: #ff035e;  
}

.shoes .part1{
    display: flex;
    padding: 150px 20px;
    transform: translateX(100px); 
}
.shoes .part1 img{
    height: 300px;
    min-height: 100%;

}
.part1 .background_shadow5{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 270px;
    margin-left: 70px;
    transform: translateY(250px);
    box-shadow: 0 0 50px 40px black;
}
.part1 .background_shadow6{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 270px;
    margin-left: 640px;
    transform: translateY(250px);
    box-shadow: 0 0 50px 40px black;
}

.part1 .background_shadow7{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 350px;
    margin-left: 1240px;
    transform: translateY(280px);
    box-shadow: 0 0 50px 40px black;
}


.part1 h2{
  color: #ffffff;
  transform: translateY(250px); 
  margin-top: 350px;
  transform: translateX(-290px); 
  
}

.part1 P{
    color: #ffffff;
    transform: translateY(290px);
    margin-top: 390px;
    transform: translateX(-390px); 
  }
.shoes .part2{
    display: flex;
  
}


.shoes .part2{
    display: flex;
    padding: 80px 20px;
    transform: translateX(100px); 
}
.shoes .part2 img{
    height: 300px;
    min-height: 100%;

}
.part2 .background_shadow8{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 270px;
    margin-left: 70px;
    /* margin-top: 990px; */
    transform: translateY(250px);
    box-shadow: 0 0 50px 40px black;
}

.part2 .background_shadow9{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 270px;
    margin-left: 660px;
    transform: translateY(250px);
    box-shadow: 0 0 50px 40px black;
}

.part2 .background_shadow10{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 250px;
    margin-left: 1290px;
    transform: translateY(250px);
    box-shadow: 0 0 50px 40px black;
}


.part2 h2{
  color: #ffffff;
  transform: translateY(250px); 
  margin-top: 350px;
  transform: translateX(-290px); 
  
}

.part2 P{
    color: #ffffff;
    transform: translateY(290px);
    margin-top: 390px;
    transform: translateX(-390px); 
  }

.shoes .part3{
    display: flex;
  
}
.shoes .part3{
    display: flex;
    padding: 150px 20px;
    transform: translateX(100px); 
}
.shoes .part3 img{
    height: 300px;
    min-height: 100%;

}
.part3 .background_shadow11{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 290px;
    margin-left: 70px;
    /* margin-top: 990px; */
    transform: translateY(260px);
    box-shadow: 0 0 50px 50px black;
}

.part3 .background_shadow12{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 290px;
    margin-left: 720px;
    transform: translateY(250px);
    box-shadow: 0 0 50px 40px black;
}

.part3 .background_shadow13{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 270px;
    margin-left: 1330px;
    transform: translateY(240px);
    box-shadow: 0 0 50px 40px black;
}

.part3 h2{
  color: #ffffff;
  transform: translateY(250px); 
  margin-top: 350px;
  transform: translateX(-290px); 
  
}

.part3 P{
    color: #ffffff;
    transform: translateY(290px);
    margin-top: 390px;
    transform: translateX(-390px); 
  }
.shoes .part4{
    display: flex;
  
}

.shoes .part4{
    display: flex;
    padding: 110px 20px;
    transform: translateX(100px); 
}
.shoes .part4 img{
    height: 300px;
    min-height: 100%;

}
.part4 .background_shadow14{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 220px;
    margin-left: 95px;
    /* margin-top: 990px; */
    transform: translateY(250px);
    box-shadow: 0 0 50px 60px black;
}

.part4 .background_shadow15{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 270px;
    margin-left: 685px;
    transform: translateY(250px);
    box-shadow: 0 0 50px 50px black;
}

.part4 .background_shadow16{
    position: absolute;
    z-index: -1;
    background: black;
    border-radius: 50%;
    height: 8px;
    width: 250px;
    margin-left: 1290px;
    transform: translateY(240px);
    box-shadow: 0 0 50px 50px black;
}

.part4 h2{
  color: #ffffff;
  transform: translateY(250px); 
  margin-top: 350px;
  transform: translateX(-290px); 
  
}

.part4 P{
    color: #ffffff;
    transform: translateY(290px);
    margin-top: 390px;
    transform: translateX(-390px); 
}
.btn2{
   margin-left: 850px;
   margin-top: 150px;
}

/* start of contact styling */

.box_contacts{
    background: white;
    width: 120px;
    padding: 4px 8px;
    margin-left: 900px;
    margin-top: 90px;
    border-radius: 20px;
    color: #ff035e; 
}
.content_contact{
    display: flex;
    padding: 120px ;
    margin-left: 80px;
    gap: 170px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.content_contact .contact-part1{
    line-height: 25px;
    margin-left: -100px;

}
.content_contact .contact-part1 .call{
    font-size: 40px;
    margin-left: 30px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-top: 80px;
}
.content_contact .contact-part1 h2{
    margin-top: 30px;
}

.content_contact .contact-part1 .p1{
    margin-top: 30px;
    margin-left: -70px;
}
.content_contact .contact-part1 .btn3{
    margin-left: -10px;
    padding: 4px 20px;
    margin-top: 70px;
}



.content_contact .contact-part2{
    line-height: 25px;
    margin-top: 50px;
    margin-left: 260px;

}
.content_contact .contact-part2 .file{
    font-size: 70px;
    margin-left: 75px;
    margin-top: 40px;
  
}
.content_contact .contact-part2 h2{
    margin-top: 30px;
}

.content_contact .contact-part2 p{
    margin-left: 40px;
    transform: translateY(20px);
    
}


.content_contact .contact-part2 .btn4{
    margin-left: 30px;
    padding: 4px 20px;
}



.content_contact .contact-part3{
    line-height: 25px;
    margin-top: 45px;
    margin-left: 290px;

}
.content_contact .contact-part3 .chat{
    font-size: 70px;
    margin-left: 75px;
    margin-top: 40px;
  
}
.content_contact .contact-part3 h2{
    margin-top: 30px;
    margin-left: 40px;
}

.content_contact .contact-part3 p{
    margin-left: 40px;
    transform: translateY(20px);
    
}

.content_contact .contact-part3 .btn5{
    margin-left: 40px;
    padding: 4px 20px;
    margin-top: 130px;
}


.heading{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 20px;
}
.heading h3{
    font-size: 25px;
    margin-left: 120px;
    margin-right: 230px;
   
}
.heading h3::after{
    content: '';
    background: #ff035e;
    width: 0px;
    height: 4px;
    margin: auto;
    display: block;
    transition: 0.5s;

}   
.heading h3:hover::after{
    width: 100%;  
}



.sign-in{
   margin-left: 120px;
   margin-top: 70px;
}
.sign-in h3{
    font-size: 25px;
    transform: translateY(10px);
}
.sign-in p{
    font-size: 15px;
    margin-left: 430px;
    margin-top: 8px;
    color: #ffffff;
}
.sign-in .email{
    color: #ffffff;
    font-size: 20px;
}

.sign-in .password{
    color: #ffffff;
    font-size: 20px;
}
.sign-in input{
    height: 40px;
    width: 550px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.last{
    margin-left: 910px;
    transform: translateY(120px);
    padding: 1px 40px;
}









